# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
# ignore all node_modules in the monorepo
**/node_modules/

# ignore build output
**/dist/


# VSCode
.vscode/

# Environment
.env
.env.local
.env.*.local

# Logs
logs/
*.log

# Docker
docker-compose.override.yml
